<div class="row">
  <!-- left side(userinfo) -->
  <aside class="col-md-3">
    <ul class="media-list" style="margin-top: 10px;">
      <li class="media">
        <div class="media-left">
          <div class="bg-white gravatar_border gravatar_size">
            <%= gravatar_for(@user, size: 70) %>
          </div>
        </div>
        <div class="media-body">
          <h1 class="media-heading mgt20" style="text-align: left;">
          <% if @user.nickname != nil %>
            <%= @user.nickname %>
          <% else %>
            @<%= @user.name %>
          <% end %>
          </h1>
          <% if @user.nickname != nil %>
            @<%= @user.name %>
          <% end %>
        </div>
      </li>
    </ul>
    <%= render 'layouts/user_basic_info' %>
  </aside>
  
  <!-- right side(microposts) -->
  <div class="col-md-9">
<%= render 'follow_form' if logged_in? %>
<% if @user.microposts.any? %>
    <h3>Microposts (<%= @user.microposts.count %>)</h3>
    <ol class="microposts">
<%#      <%= render @microposts 
      <%= render partial: 'microposts/micropost', collection: @microposts %> 
      <% @microposts.each do |micropost| %>
        <%= render partial: 'microposts/micropost', locals: { micropost: micropost } %>
      <% end %>
    </ol>
<% end %>
  </div>
</div>
