<div class="row">
  <!-- left side(userinfo) -->
  <aside class="col-md-3">
    <ul class="media-list" style="margin-top: 10px;">
      <li class="media">
        <div class="media-left">
          <div class="bg-white gravatar_border gravatar_size">
            <%= gravatar_for(@user, size: 70) %>
          </div>
        </div>
        <div class="media-body">
          <h1 class="media-heading mgt20" style="text-align: left;">
          <% if @user.nickname != nil %>
            <%= @user.nickname %>
          <% else %>
            @<%= @user.name %>
          <% end %>
          </h1>
          <% if @user.nickname != nil %>
            @<%= @user.name %>
          <% end %>
        </div>
      </li>
    </ul>
    <%= render 'layouts/user_basic_info' %>
  </aside>
  
  <!-- right side(microposts) -->
  <div class="col-md-9">
    <h3><%= t('static_pages.home.feed') %></h3>
    <%= render 'shared/feed' %>
  </div>
</div>
