<li id="micropost-<%= micropost_org.id %>" style="padding-left: 10px;">
  
  <% retweet = 0 %>
  <%# if !micropost_org.retweet_id.blank? && micropost_org.content.blank? %>
  <% if false %>
  <!-- case of retweet -->
  <p class="f08em">
    <span class="glyphicon glyphicon-retweet mgr5"></span>
    <% if !micropost_org.user.nickname.blank? %>
    <%= micropost_org.user.nickname %>
    <% else %>
    @<%= micropost_org.user.name %>
    <% end %>
    さんがリツイート
  </p>
  <!-- case of retweet end -->
    <% retweet = 1 %>
    <% micropost = @retweet_items.find(micropost_org.retweet_id) %>
  <% else %>
    <% micropost = micropost_org %>
  <% end %>
  
  <!-- image -->
  <div style="display: inline-block; vertical-align: top; position: relative;">
    <% if micropost.user.tamo == 1 %>
    <%= image_tag 'sunglass.png', :width => '45', :class => 'tamo' %>
    <% end %>
    <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  </div>
  <!-- image end -->

  <div class="mgl10" style="display: inline-block; width: 90%;">
    <%= link_to micropost.user do %>
    <span class="user">
      <% if !micropost.user.nickname.blank? %>
        <span class="fwBold f11em"><%= micropost.user.nickname %></span>
        &nbsp;@<%= micropost.user.name %>
      <% else %>
        <%= micropost.user.name %>
      <% end %>
    </span>
    <% end %>
    <span class="timestamp">
      <%= t('microposts._micropost.posted') %>
      <%= time_ago_in_words(micropost.created_at) %>
      <%= t('microposts._micropost.ago') %>
    </span>
    <span class="content f13em">
      <%= simple_format(h(micropost.content)) %>
    </span>
    
    <% if !micropost.image.blank? %>
    <div><%= image_tag micropost.image.url, :width => '300px' %></div>
    <% end %>
<%
=begin
%>
    <% if !micropost_org.retweet_id.blank? && !micropost_org.content.blank? %>
    <!-- quote tweet -->
    <div class="mgl20 quote">
      <% if !@retweet_items.find(micropost.retweet_id).image.blank? %>
      <div style="display: inline-block;"><%= image_tag @retweet_items.find(micropost.retweet_id).image.url, :width => '100px' %></div>
      <% end %>
      <div class="mgl10" style="display: inline-block">
        <% if !@retweet_items.find(micropost.retweet_id).user.nickname.blank? %>
        <span class="mgr10 fwBold f08em"><%= @retweet_items.find(micropost.retweet_id).user.nickname %></span>
        <% end %>
        <span class="f08em">@<%= @retweet_items.find(micropost.retweet_id).user.name %></span>
        
        <p><%= simple_format(h(@retweet_items.find(micropost.retweet_id).content)) %></p>
      </div>
    </div>
    <!-- quote tweet end -->
    <% end %>
<%
=end
%>    
    <!--  retweet, favorites, delete -->
    <ul class="button-area" style="margin: 0; padding: 0;">
<%
=begin
%>
      <% if !(!micropost_org.retweet_id.blank? && micropost_org.content.blank?) %>
      <li style="display: inline-block; border: 0;">
        <%= render partial: 'users/retweet/retweet_form', locals: { micropost: micropost, retweet: retweet } %>
      </li>
      <% end %>
<%
=end
%>    
      <li class="mgl20" style="display: inline-block; border: 0;">
        <%= render partial: 'users/favorite/favorite_form', locals: { micropost: micropost } %>
      </li>
      <% if current_user == micropost_org.user %>
      <li class="mgl20" style="display: inline-block; border: 0;">
        <%= link_to micropost, { method: :delete, data: { confirm: t('microposts._micropost.confirm') }} do %>
        <span class="glyphicon glyphicon-trash"></span>
        <% end %>
      </li>
      <% end %>
    </ul>
    <!--  retweet, favorites, delete end -->
  </div>
</li>