<li id="micropost-<%= micropost.id %>" style="padding-left: 10px; position: relative;">
  <!--<div style="width: 20%; background-color: #f00; z-index: -1; position: absolute; height: 100%;"></div>-->
  <div style="display: inline-block; vertical-align: top; height: 100%; background-color: #f00;">
    <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  </div>

  <div class="mgl10" style="display: inline-block;">
    <%= link_to micropost.user do %>
    <span class="user">
      <% if !micropost.user.nickname.blank? %>
        <span class="fwBold f11em"><%= micropost.user.nickname %></span>
        &nbsp;@<%= micropost.user.name %>
      <% else %>
        <%= micropost.user.name %>
      <% end %>
    </span>
    <% end %>
    <span class="timestamp">
      <%= t('microposts._micropost.posted') %>
      <%= time_ago_in_words(micropost.created_at) %>
      <%= t('microposts._micropost.ago') %>
    </span>
    <span class="content f13em">
      <%= micropost.content %>
    </span>
    
    <!--  retweet, favorites, delete -->
    <ul class="button-area" style="margin: 0; padding: 0;">
      <li style="display: inline-block; border: 0;">
        <span class="glyphicon glyphicon-retweet"></span>
      </li>
      <li class="mgl20" style="display: inline-block; border: 0;">
        <%= render partial: 'users/favorite_form', locals: { micropost: micropost } %>
      </li>
      <% if current_user == micropost.user %>
      <li class="mgl20" style="display: inline-block; border: 0;">
        <%= link_to micropost, method: :delete, date: { confirm: t('microposts._micropost.confirm') } do %>
        <span class="glyphicon glyphicon-trash"></span>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</li>